1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [41]:
## in myreduce function i am basically finding the square of numbers in a list and after squaring just doing the sum

def myreduce(num):
  b=[]
  a=list(range(1,num+1))
  # here i am finding the square e of numbers inside a list
  for i in a:
    b.append(i**2)
  print("the original data is :",a)
  print("square values are :",b)
  # now sum of squares 
  c=0
  for j in b:
    c=c+j
  print("sum is ",c)

In [43]:
n=int(input("enter no items :"))
myreduce(n)

enter no items :5
the original data is : [1, 2, 3, 4, 5]
square values are : [1, 4, 9, 16, 25]
sum is  55

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [48]:
def myfilter(l):
  even_no=[]
  odd_no=[]
  for i in l:
    if i%2==0:
      even_no.append(i)
    else:
      odd_no.append(i)
  print("the original list : ",l)
  print("even nos are : ",even_no)
  print("odd nos are : ",odd_no)

In [50]:
a=int(input("enter the number :"))
b=list(range(1,a+1))
myfilter(b)

enter the no :20
the original list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
even nos are :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd nos are :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [71]:
# 1st
n=int(input("enter the no if letters to insert : "))

def seq(a):
  b=[]
  for i in range(1,a+1):
    c=input("enter the {} letters : ".format(i))
    b.append(c)
  print("nos are : ",b)
  d=[x*n for x in b for n in range(1,5)]
  print("the output :",d)
    
seq(n)

enter the no if letters to insert : 3
enter the 1 letters : x
enter the 2 letters : y
enter the 3 letters : z
nos are :  ['x', 'y', 'z']
the output : ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [70]:
# 2nd

n=int(input("enter the no if letters to insert : "))

def seq(a):
  b=[]
  d=[]
  for i in range(1,a+1):
    c=input("enter the {} letters : ".format(i))
    b.append(c)
  print("nos are : ",b)

  for i in range(1,5):
    for m in b:
      d.append(m*i)
  print("the output : ",d)
    
seq(n)

enter the no if letters to insert : 3
enter the 1 letters : x
enter the 2 letters : y
enter the 3 letters : z
nos are :  ['x', 'y', 'z']
the output :  ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [78]:
# 3rd

n=[2,3,4]
d=[]
for i in range(0,3):
  for j in n:
    d.append([j+i])
print(d)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [90]:
# 4th
n = [2,3,4,5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [91]:
# 5th

a=[1,2,3]
b=[(y,x) for x in a for y in a]
print(b)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]